.password-login__container{
  width: 500px;
  height: 450px;
  background-color: #f5f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D3153;
  font-family: 'Inter', sans-serif;
  flex-direction: column;
}
.password-login__card{
  height: 70%;
  width: 70%;
  border-radius: 5%;
  box-shadow: 0px 4px 14px 0 black
}
.btn__password-login{
  font-size: x-small;
  font-family: inter;
  font-weight: 600;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}


.password__card-content-holder{
  padding: 30px;
}
.password__card-login-info{
  display: flex;

}
.password__card-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.password__card-name-title{
  position: relative;
  left: 15px;
  bottom: 10px;
}
.password__card-title{
  font-size: x-small;
  position: relative;
  top: 15px;
}
.password__card-name{
  font-weight: 600;
}
.password__card-input{
  border-color: #1D3153;
  border-width: 1px;
  border-radius: 3px;
  height: 20px;
  width: 70%;
}
.password__card-btn-holder{
  display: flex;
  justify-content: space-around;
  padding-right: 30px;
  position: relative;
  bottom: 10px;
}
.password__card-button-choice__holder{
  position: relative;
  top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.color-change-btn{
  padding: 10px;
  width: 100px;
  border-radius: 5%;
  color: white;
  background-color: #1e1e1e;
}
.password-login__reset{
  font-size: x-small;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 500px){
  .password-login__container{
    width: 320px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D3153;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
  }
  .password-login__card{
    height: 70%;
    width: 80%;
  }
}