.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-light{
  background-color: white;
}
.card-dark{
  background-color: black;
  color: white;
}
.card-blue{
  background-color: #1D3153;
  color: white;
}
.card-orange{
   background-color: #e2780d;
   color: white;
}


.btn-light{
  background-color: #1D3153;
  color:#F3F3F9 ;
 
}
.btn-dark{
  background-color: #F3F3F9;
  color: #1D3153;
  border-color: black;
}
.btn-blue{
  background-color: #F3F3F9;
  color: #1D3153;
  border-color: black;
}
.btn-orange{
  background-color: #e2780d;
  color: white;
  /* background-color: #1e1e1e; */
  background-color: #1d87f2;
  border-width: 2px;
  /* border-color: #1e1e1e; */
  border-color: #1d87f2;
}